.app-container {
    margin: 0; 
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #50c854;
    color: white;
    cursor: pointer;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: #5f6f5f;
}